{{ $current_page := . }}
<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-custom {{ if .Site.Params.navbar.background }}navbar-{{ .Site.Params.navbar.background }}{{ end }}">
  <div class="container">
    {{/* Brand */}}
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
          {{ if .Site.Params.navbar.show_logo }}
      {{ if .Site.Params.navbar.logo }}
        <img src="{{ "images/" | relURL }}{{ .Site.Params.navbar.logo }}" alt="{{ .Site.Title }}" height="40">
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    {{ else }}
      {{ .Site.Title }}
    {{ end }}
    </a>

    {{/* Navbar toggler */}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {{/* Navbar menu */}}
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto">
        {{ range .Site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link {{ if $current_page.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>

